# NeonDB PostgreSQL
DATABASE_URL=postgresql://neondb_owner:npg_fsJdkqw56uTg@ep-wispy-tooth-aw0dcu0b-pooler.c-12.us-east-1.aws.neon.tech/neondb?sslmode=require

# Cloudinary
CLOUDINARY_CLOUD_NAME=dhqskqkeb
CLOUDINARY_API_KEY=37291779797679
CLOUDINARY_API_SECRET=HckeHLZNi7IZnca8kaxGTVmUQbs

# JWT Secret & Admin Initial Credentials
JWT_SECRET=tu_jwt_secret_super_seguro
ADMIN_INITIAL_USER=admin
ADMIN_INITIAL_PASS=admin2026!

# WhatsApp Defaults
DEFAULT_WHATSAPP_NUMBER=584120000000
